{% extends 'layout.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block contenido %}
    <h1>Usuario</h1>

    <table class="table mb-4">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ usuario.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ usuario.apellidos }}</td>
            </tr>
            <tr>
                <th>NombreUsuario</th>
                <td>{{ usuario.nombreUsuario }}</td>
            </tr>
        </tbody>
    </table>

    <div class="mb-8">
        <a href="{{ path('app_usuario_index') }}" class="text-blue-600 hover:underline mr-2"><span class="fa-solid fa-arrow-left"></span> Volver</a>
        <a href="{{ path('app_usuario_edit', {'id': usuario.id}) }}" class="text-blue-600 hover:underline mr-2"><span class="fa-solid fa-pen-to-square"></span> Editar</a>
        {{ include('usuario/_delete_form.html.twig') }}
    </div>
{% endblock %}
