{% extends 'layout.html.twig' %}

{% block title %}Modelos3D - {{ parent() }}{% endblock %}

{% block contenido %}
    <div class="flex items-center mb-5 mt-5">
        <h1 class="text-xl mr-3">Listado de Modelos 3D</h1>
        <a href="{{ path('app_modelo3d_new') }}" class="text-blue-600"><span class="fa-solid fa-plus text-sm"></span> Nuevo</a>
    </div>

    <div id="alert-4" class="flex p-4 mb-4 bg-yellow-100 rounded-lg dark:bg-yellow-200" role="alert">
        <svg class="flex-shrink-0 w-5 h-5 text-yellow-700 dark:text-yellow-800" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
        <div class="ml-3 text-sm font-medium text-yellow-700 dark:text-yellow-800">
            Actualmente la función de carga de modelos 3D no está disponible... Estamos trabajando en ello.
        </div>
        <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-yellow-100 text-yellow-500 rounded-lg focus:ring-2 focus:ring-yellow-400 p-1.5 hover:bg-yellow-200 inline-flex h-8 w-8 dark:bg-yellow-200 dark:text-yellow-600 dark:hover:bg-yellow-300" data-dismiss-target="#alert-4" aria-label="Close">
            <span class="sr-only">Close</span>
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
    </div>

    <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
            <li class="mr-2" role="presentation">
                <button class="inline-block p-4 rounded-t-lg border-b-2" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Mis Modelos</button>
            </li>
            <li class="mr-2" role="presentation">
                <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Compartidos conmigo</button>
            </li>
        </ul>
    </div>
    <div id="myTabContent">
        <div class="table-wrapper" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Material</th>
                        <th>Relleno</th>
                        <th>Resolucion</th>
                        <th>Soportes</th>
                        <th>Url</th>
                        <th><span class="sr-only">Editar</span></th>
                    </tr>
                </thead>
                <tbody>
                {% for index, modelo3d in modelos3d %}
                    <tr>
                        <td>{{ index + 1 }}</td>
                        <td class="table-enfasis">
                            <a class="table-link" href="{{ path('app_modelo3d_show', {'id': modelo3d[0].id}) }}">{{ modelo3d[0].recurso.nombre }}</a>
                        </td>
                        <td>{{ modelo3d[0].material }}</td>
                        <td>{{ modelo3d[0].relleno }}</td>
                        <td>{{ modelo3d[0].resolucion }}</td>
                        <td>{{ modelo3d[0].soportes ? 'Si' : 'No' }}</td>
                        <td>{{ modelo3d[0].url }}</td>
                        <td>
                            <a class="table-link" href="{{ path('app_modelo3d_edit', {'id': modelo3d[0].id}) }}">Editar</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8" class="px-6 py-4">No se han encontrado Modelos 3D</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-wrapper" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Material</th>
                        <th>Relleno</th>
                        <th>Resolucion</th>
                        <th>Soportes</th>
                        <th>Url</th>
                    </tr>
                </thead>
                <tbody>
                {% for index, modelo3dCompartido in modelos3dCompartidos %}
                    <tr>
                        <td>{{ index + 1 }}</td>
                        <td class="table-enfasis">
                            <a class="table-link" href="{{ path('app_modelo3d_show_guest', {'id': modelo3dCompartido[0].id}) }}">{{ modelo3dCompartido[0].recurso.nombre }}</a>
                        </td>
                        <td>{{ modelo3dCompartido[0].material }}</td>
                        <td>{{ modelo3dCompartido[0].relleno }}</td>
                        <td>{{ modelo3dCompartido[0].resolucion }}</td>
                        <td>{{ modelo3dCompartido[0].soportes ? 'Si' : 'No' }}</td>
                        <td>{{ modelo3dCompartido[0].url }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7" class="px-6 py-4">No se han encontrado Modelos 3D</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
