{% extends 'layout.html.twig' %}

{% block title %}Imágenes - {{ parent() }}{% endblock %}

{% block contenido %}
    <div class="flex items-center mb-5 mt-5">
        <h1 class="text-xl mr-3 font-bold">Listado de Imágenes</h1>
        <a href="{{ path('app_imagen_new') }}" class="text-blue-600 hover:underline"><span class="fa-solid fa-plus text-sm"></span> Nueva</a>
    </div>

    <div class="flex gap-2">
        {% for imagen in imagenes %}
            <a href="{{ path('app_imagen_show', {'id': imagen.id}) }}">
                <div class="relative w-56 h-56 rounded-lg overflow-hidden flex">
                    <img src="{{ vich_uploader_asset(imagen) }}" alt="{{ imagen.nombreImagen }}" class="object-cover w-full h-full" />
                    <div class="flex pl-2 items-end opacity-0 hover:opacity-100 transition-opacity duration-300 hover:backdrop-blur-sm hover:bg-black/40 absolute w-full h-full py-2.5 bottom-0 inset-x-0 text-white text-xs leading-4">
                        <div>
                            <h2 class="ml-3 text-sm font-semibold text-white">{{ imagen.recurso }}</h2>
                            <h3 class="ml-3 text-xs font-medium text-white">{{ imagen.recurso.propietario }}</h3>
                        </div>
                    </div>
                </div>
            </a>
        {% else %}
            <h2>No hay imágenes que mostrar</h2>
        {% endfor %}
    </div>
{% endblock %}
