{% extends 'layout.html.twig' %}

{% block title %}JAWSS{% endblock %}

{% block contenido %}

<div class="w-full h-full pt-4">

    <h1 class="font-bold text-4xl">Bienvenido a JAWSS</h1>
    <h2 class="font-semibold text-xl">Just Another Web Storage Solution - "Simplemente Otra Propuesta De Almacenamiento Web"</h2>

    <!-- Galeria de opciones -->
    <div class="flex justify-between items-center w-full px-4 mt-14 mb-4">
        <a href="{{ path('app_imagen_index') }}" class="block h-40 w-40 hover:scale-110 transition-all duration-500 ease-in-out text-blue-600 border-4 border-gray-600 shadow-md rounded-xl hover:bg-blue-600 hover:text-white">
            <div class="flex justify-center items-center flex-col h-full">
                <div class="fa-solid fa-images text-7xl"></div>
                <h3 class="font-bold text-xl">Imágenes</h3>
            </div>
        </a>
        <a href="{{ path('app_video_index') }}" class="block h-40 w-40 hover:scale-110 transition-all duration-500 ease-in-out text-blue-600 border-4 border-gray-600 shadow-md rounded-xl hover:bg-blue-600 hover:text-white">
            <div class="flex justify-center items-center flex-col h-full">
                <div class="fa-solid fa-video text-7xl"></div>
                <h3 class="font-bold text-xl">Vídeos</h3>
            </div>
        </a>
        <a href="{{ path('app_audio_index') }}" class="block h-40 w-40 hover:scale-110 transition-all duration-500 ease-in-out text-blue-600 border-4 border-gray-600 shadow-md rounded-xl hover:bg-blue-600 hover:text-white">
            <div class="flex justify-center items-center flex-col h-full">
                <div class="fa-solid fa-music text-7xl"></div>
                <h3 class="font-bold text-xl">Música</h3>
            </div>
        </a>
        <a href="{{ path('app_modelo3d_index') }}" class="block h-40 w-40 hover:scale-110 transition-all duration-500 ease-in-out text-blue-600 border-4 border-gray-600 shadow-md rounded-xl hover:bg-blue-600 hover:text-white">
            <div class="flex justify-center items-center flex-col h-full">
                <div class="fa-solid fa-cube text-7xl"></div>
                <h3 class="font-bold text-xl">Modelos 3D</h3>
            </div>
        </a>
    </div>
    <a href="{{ path('app_recurso_index') }}" class="text-blue-600 hover:underline">Ver todos los ficheros...</a>
</div>
{% endblock %}
