{% extends 'layout.html.twig' %}

{% block title %}Recursos - {{ parent() }}{% endblock %}

{% block contenido %}
    <div class="flex items-center mb-5 mt-5">
        <h1 class="text-xl mr-3">Listado de Recursos</h1>
        <a href="{{ path('app_recurso_new') }}" class="text-blue-600"><span class="fa-solid fa-plus text-sm"></span> Nuevo</a>
    </div>
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Extension</th>
                    <th scope="col">Fichero Común</th>
                    <th scope="col"><span class="sr-only">Edit</span></th>
                </tr>
            </thead>
            <tbody>
            {% for index, recurso in recursos %}
                <tr>
                    <td>{{ index + 1 }}</td>
                    <td class="table-enfasis">
                        <a href="{{ path('app_recurso_show', {'id': recurso.id}) }}" class="table-link">{{ recurso.nombre }}</a>
                    </td>
                    <td>{{ recurso.descripcion }}</td>
                    <td>{{ recurso.extension }}</td>
                    <td>{{ recurso.fichero ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('app_recurso_edit', {'id': recurso.id}) }}" class="table-link">Editar</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="px-6 py-4">No se han enontrado recursos</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
