{% extends 'layout.html.twig' %}

{% block title %}Recurso{% endblock %}

{% block contenido %}
    <h1 class="text-xl my-4 font-bold">{{ recurso.nombre }}</h1>

    <table class="table">
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4 font-bold">Id</td>
                <td class="px-6 py-4">{{ recurso.id }}</td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4 font-bold">Nombre</td>
                <td class="px-6 py-4">{{ recurso.nombre }}</td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4 font-bold">Descripcion</td>
                <td class="px-6 py-4">{{ recurso.descripcion }}</td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4 font-bold">Extension</td>
                <td class="px-6 py-4">{{ recurso.extension }}</td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4 font-bold">Fichero</td>
                <td class="px-6 py-4">{{ recurso.fichero ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_recurso_index') }}" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800"><span class="fa-solid fa-arrow-left"></span> Volver</a>
    <a href="{{ path('app_recurso_edit', {'id': recurso.id}) }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Editar</a>

    {{ include('recurso/_delete_form.html.twig') }}
{% endblock %}
